apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  labels:
    app: frr-k8s
  name: daemon-role
rules:
  - apiGroups:
      - ""
    resources:
      - secrets
    verbs:
      - get
      - list
      - watch
      - update
